<h1>Make your form here</h1>
<form method="POST" action="/pirates">
  <label> Pirate Name:</label> <input type="string" name="pirate[name]">
  <label> Pirate Weight:</label> <input type="integer" name="pirate[weight]">
  <label> Pirate Height:</label> <input type="integer" name="pirate[height]">
  <label> Ship 1 Name:</label> <input id="ship_name_1" type="string" name="pirate[ships][][name]">
  <label> Ship 1 Type:</label> <input id="ship_type_1" type="string" name="pirate[ships][][type]">
  <label> Ship 1 Booty:</label> <input id="ship_booty_1" type="string" name="pirate[ships][][booty]">
  <label> Ship 2 Name:</label> <input id="ship_name_2" type="string" name="pirate[ships][][name]">
  <label> Ship 2 Type:</label> <input id="ship_type_2" type="string" name="pirate[ships][][type]">
  <label> Ship 2 Booty:</label> <input id="ship_booty_2" type="string" name="pirate[ships][][booty]">
  <input type="submit" id="Submit">
</form>
